body{
    margin: 0;
    padding: 0;
}

.text{
    color: #a0aac8;
    text-decoration: none;
}


.container2 {
    width: 80%;
    border-radius: 20px;
    margin-right: 10px;
}

.main-content {
    width: 90%;
    padding: 40px;
    background-color: #f8f9fa;
    flex: 1;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .project-section {
    margin-bottom: 40px;

  }




/* Base styles */
body, html {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container1 styles */
.container1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    display: block;
}


/* Navbar styles */
.container11 {
    width: 100vh;
    height: 15%;
    background-color: white;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 0 20px;
}

/* Container2 styles */
.container2 {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

/* Example specific styles for container3 and container4 */
.container21 {
    background-color: white; /* Light blue */
    width: 20%;
    margin-top: 0;
}

.container22 {
    width: 80%;
    padding: 0 0 0 10;
}

.projects {
    display: flex; /* Make sure the display is set to flex */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    gap: 20px; /* Optional: Adds space between tiles */
    justify-content: space-between; /* Adjusts space between tiles */
}

.project-card {
    flex: 1; /* Allows project cards to grow and shrink as needed */
    min-width: 200px; /* Optional: Sets a minimum width for each card */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description{
    font-size: 0.5rem;
    color: #a0aac8;
    margin: 6px 0px 6px 0px;
}


.ProjectDeets{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.deets {
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically in the center */
}


.icon{
    height: 60%;
    width: 25%;
    font-size : 1.25rem;
    color: #a6afcb;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 0.6rem;
    margin-right: 10px; /* Add space between icon and deets1 */
    text-align: center;
}  

.deets1{
    height: 1rem;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.deets11{
    height: 2rem;
    width: 100px;
    font-size: 0.5rem;
    font-weight: 500;
}

.deets12{
    height: 2rem;
    width: 100%;
    font-size: 0.5rem;
    color: #a0aac8;
} 


  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


