/* SignupForm.css */
.signup-container {
  margin: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
}

.signup-content {
  height: 90vh;
  background-color: transparent;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.signup-header {
  background-color: #f9fafb;
  padding: 1.5rem;
  margin-bottom: 2rem; /* Reduced from 30% */
}

.signup-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #111827;
}

.signup-header p {
  text-align: center;
  color: #6b7280;
  font-size: 0.875rem;
}

.signup-form-container {
  height: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-top: -2rem; /* Added negative margin to pull form up */
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem; /* Changed from margin-top to margin-bottom */
}

.form-group label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #374151;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.password-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem 0rem 1.5rem 0rem;
}

.submit-btn, .cancel-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn {
  background-color: #43a7f9;
  color: white;
  border: none;
}

.cancel-btn {
  background-color: transparent;
  color: #374151;
  border: 1px solid #d1d5db;
}

.submit-btn:hover {
  background-color: #43a7f9;
}

.cancel-btn:hover {
  background-color: #f3f4f6;
}