.NavBar{
    margin: 0.5rem;
    padding: 0.5rem;
    height: 9%;
    width: 100vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap : nowrap;

  }

  .Nav{
    margin: 0.5rem;
    padding: 0.5rem;
    height: 100%;
    width: 100vw;
    border-radius: 10px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
  }


