/* Base styles */
body, html {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


/* Container1 styles */
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    display: block;
}


/* Navbar styles */
.container11 {
    width: 100vh;
    height: 15%;
    background-color: white;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 0 20px;
}

/* Container2 styles */
.container2 {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 15px;
}


/* Example specific styles for container3 and container4 */
.container21 {
    background-color: white; /* Light blue */
    width: 20%;
    margin-top: 0;
}

.container22 {
    width: 80%;
    box-sizing: border-box;

}
  
  